@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e6e6e6;

  --destructive: #e7000b;

  --popover: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-destructive: var(--destructive);

  --color-popover: var(--popover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
